footer { 
    position: absolute; 
    bottom: 0; 
    display: table; 
    background-color: white; 
    height: 60px; 
    width: 100%;
    border-top: 1px solid #CCCCCC;
}
footer p {
    text-align: center;
    margin: 20px;
}